{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div style="margin-top:55px; padding-top:55px;" class="container-fluid text-sm p-5 bg-info text-white ">
                <h2>Manage <b>Employees</b> <button type="button" class="btn btn-success" style="float: right"
                data-toggle="modal" data-target="#mymodal">Add New Employee</button> </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <th>Name</th>
                        <th>Birthday</th>
                        <th>Salary</th>
                        <th>Action</th>
                    </tr>
                    {% for row in employees %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.department}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.birthday}}</td>
                        <td>{{row.salary}}</td>
                        <td>
                        <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                        <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    <!-- Modal Edit Employee-->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">
                                        <div class="form-group">
                                            <label>Department:</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="department" value="{{row.department}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <label>Name:</label>
                                            <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <label>Birthday:</label>
                                            <input type="date" class="form-control" name="birthday" value="{{row.birthday}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <label>salary:</label>
                                            <input type="number" class="form-control" name="salary" value="{{row.salary}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>
            <!-- Modal Add Employee-->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Employee</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">
                                <div class="form-group">
                                    <label>Department:</label>
                                    <input type="text" class="form-control" name="department" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" name="name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Birthday:</label>
                                    <input type="date" class="form-control" name="birthday" required="1">
                                </div>
                                <div class="form-group">
                                    <label>salary:</label>
                                    <input type="number" class="form-control" name="salary" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add Employee</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}